*{
    margin: 0%   ;
    padding: 0;
}

body{
    background-color: bisque;

}

.cabecalho-titulo{
    
    font-size: 60px;
    font-weight: 700;
    padding: 30px;
    text-align: center;
    }

.cabecalho{
    color:rgb(165, 101, 42);
    background-color: antiquewhite;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.principal{
    display: flex;

}


.principal img {
    width: 50%;

}

.principal p{
    width: 50%;
}